{% if messages %}
    {% for message in messages %} 
        <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h3>Search</h3>
<form action="search/" method="get">
    {% csrf_token %}
    {{query}}
    <input type="submit" value="Submit">
</form>

{% for todo in todos %}
    <table>
    {% if todo.completed == True %}
        <tr>
            <td><strike><a href="{% url 'completed' todo.id %}"><p>{{ todo.title }}</p></a></strike></td>
            <td><a href="{% url 'delete' todo.id %}">delete</a></td>
        </tr>
    {% else %}
        <tr>
            <td><a href="{% url 'completed' todo.id %}" ><p>{{ todo.title }}</p></td>
            <td><a href="{% url 'delete' todo.id %}">delete</a></td>
        </tr>
    {% endif %}
    </table>
{% endfor %}

{% if user.is_authenticated %}
        <p align="right"><a href="{% url 'edit_profile' %}">Edit profile</a></p>
        <p align="right"><a href="{% url 'logout_view' %}">Log out</a></p>
        <a href="{% url 'create' %}">Add todo</a>
    {% else %}
        <p align="right"><a href="{% url 'signin' %}">Sign in</a></p>
        <p align="right"><a href="{% url 'signup' %}">Sign up</a></p>
{% endif %}